<div class="widget-template col-md-12 px-1" id="@Model.ChildContent.PrefixValue" data-content-item-id="@Model.ChildContent.ContentItem.ContentItemId">
    @await DisplayAsync(Model.ChildContent)
</div>