@model Etch.OrchardCore.Leaflet.ViewModels.MapTilesManualPartEditViewModel

<div class="form-group">
    <label asp-for="TilesRoot">@T["Tiles Root"]</label>
    <input asp-for="TilesRoot" class="form-control" />
    <span class="hint">@T["Path to directory within the media library that contains the tiles (e.g. \"/Map/Tiles\")"]</span>
    <span asp-validation-for="TilesRoot"></span>
</div>
