.leaflet {
    display: block;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 46.6%;
    position: relative;

    .leaflet-container {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        background-color: rgba(255, 0, 0, 0);
    }
}

.leaflet--admin {
    margin-bottom: 3rem;
}

.leaflet-container .leaflet-tile {
    height: 257.5px !important;
    width: 257.5px !important;
}
