.leaflet {
  display: block;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative; }
  .leaflet .leaflet-container {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.leaflet--admin {
  margin-bottom: 3rem; }

