.leaflet {
  display: block;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 46.6%;
  position: relative; }
  .leaflet .leaflet-container {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 800;
    background-color: rgba(255, 0, 0, 0); }

.leaflet--admin {
  margin-bottom: 3rem; }

